@import '../utils/mixins.scss';

.footer {
    @include column-centered-content;
    background-color: #870F06;
    min-height: 7vh;
    justify-content: center;
    color: white;
    position:relative;
    font-family: 'Pokemon Solid', sans-serif;
    -webkit-text-stroke: 1px black;
    font-size:x-large;
}