.nav-bar{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    background-color: #870F06;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: x-large;

    &>*{
        color:white ;
        -webkit-text-stroke: 1px black;
    }

    &>a {
        text-decoration: none;

        &:hover{
            color: #FFCE00;
        }
    }
}
