@import '../utils/mixins.scss';



section {
    @include column-centered-content ; 
    
}

.img-logo{
    width: 500px;
    margin: 40px;
    @include column-centered-content ; 

}

.container-search{
    margin-bottom: 2.6vh;

    & > h2 {
        -webkit-text-stroke: 1px black;
        margin:50px

    }

    & > div {
        @include column-centered-content ; 
    }

    & > div > input {
        text-align: center;
        padding: 10px;

    }

}

.poke-search{
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:100px;
    border-radius: 30px;
}

.card-container{
    color: white;
    -webkit-text-stroke: 1px black;

}

.img-pokemon{
    width: 250px;
    height: 250px;

}

.nameId{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.attacks{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    border-radius: 30px;
}

.type-part{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    border-radius: 30px;
    margin: 10px;
}